<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Board</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Post Update</h1>
    <form th:action="@{/posts/update/{id}(id=${post.id})}" th:object="${post}" method="post">
        <div class="form-group">
            <label for="id">글번호</label>
            <input type="text" class="form-control" id="id" th:field="*{id}" th:value="${post.id}" readonly>
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:value="${post.title}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" th:field="*{content}" th:text="${post.content}"></textarea>
        </div>
        <a href="/" role="button" class="btn btn-secondary">목록</a>
        <button type="submit" class="btn btn-primary">수정</button>
        <a th:href="@{/posts/delete/{id}(id=${post.id})}" role="button" class="btn btn-danger">삭제</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>